In [91]:
import pandas as pd

In [92]:
df=pd.read_csv('penguins_cleaned.csv')

In [93]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male
...,...,...,...,...,...,...,...
328,Chinstrap,Dream,55.8,19.8,207,4000,male
329,Chinstrap,Dream,43.5,18.1,202,3400,female
330,Chinstrap,Dream,49.6,18.2,193,3775,male
331,Chinstrap,Dream,50.8,19.0,210,4100,male
332,Chinstrap,Dream,50.2,18.7,198,3775,female

In [94]:
df.isna().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

# Selecting Categorical variable

In [95]:
categorical_list=[var for var in df if df[var].dtype == 'O']

In [96]:
categorical_list

['species', 'island', 'sex']

In [97]:
#getting unique values in calegorical list
for var in categorical_list:
    print(var,":",df[var].unique())

species : ['Adelie' 'Gentoo' 'Chinstrap']
island : ['Torgersen' 'Biscoe' 'Dream']
sex : ['male' 'female']

# Label encoding

In [98]:
from sklearn.preprocessing import LabelEncoder

In [99]:
import joblib

In [100]:
def labe_converter(df,var):
    df_copy=df.copy()
    le=LabelEncoder()
    le.fit(df_copy)
    df_copy=le.transform(df_copy)
    joblib.dump(le,var)
    return df_copy

In [101]:
for var in categorical_list:
    df[var]=labe_converter(df[var],var)

In [102]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181,3750,1
1,0,2,39.5,17.4,186,3800,0
2,0,2,40.3,18.0,195,3250,0
3,0,2,36.7,19.3,193,3450,0
4,0,2,39.3,20.6,190,3650,1
...,...,...,...,...,...,...,...
328,1,1,55.8,19.8,207,4000,1
329,1,1,43.5,18.1,202,3400,0
330,1,1,49.6,18.2,193,3775,1
331,1,1,50.8,19.0,210,4100,1
332,1,1,50.2,18.7,198,3775,0

In [70]:
X=df.drop(['species'],axis=1)
y=df['species']

In [71]:
X.head()

   island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  sex
0       2            39.1           18.7                181         3750    1
1       2            39.5           17.4                186         3800    0
2       2            40.3           18.0                195         3250    0
3       2            36.7           19.3                193         3450    0
4       2            39.3           20.6                190         3650    1

In [72]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [73]:
from sklearn.ensemble import RandomForestClassifier

In [74]:
model=RandomForestClassifier()

In [75]:
model.fit(X,y)

RandomForestClassifier()

In [76]:
model.predict(X)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1], dtype=int64)

In [77]:
joblib.dump(model,'classifier.pkl')

['classifier.pkl']

In [83]:
a=model.predict_proba([X.iloc[0]])

In [80]:
X.iloc[0]

island                  2.0
bill_length_mm         39.1
bill_depth_mm          18.7
flipper_length_mm     181.0
body_mass_g          3750.0
sex                     1.0
Name: 0, dtype: float64

In [84]:
a

array([[1., 0., 0.]])

In [86]:
final_preds=pd.DataFrame(a,columns= ['Adelie' ,'Gentoo', 'Chinstrap'])

In [87]:
final_preds

   Adelie  Gentoo  Chinstrap
0     1.0     0.0        0.0

In [103]:
a=joblib.load('species')

In [104]:
a.classes_

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)